attr global userattr DbLogExclude DbLogInclude cmdIcon devStateIcon devStateStyle genericDeviceType:security,ignore,switch,outlet,light,blind,thermometer,thermostat,contact,garage,window,lock homebridgeMapping:textField-long icon sortby webCmd widgetOverride
attr global autoload_undefined_devices 1
attr global icon it_network
attr global latitude 48.314129
attr global logfile -
attr global longitude 16.180329
attr global modpath .
attr global motd none
attr global nofork 1
attr global perlSyntaxCheck 1
attr global room System
attr global sendStatistics onUpdate
attr global statefile ./log/fhem.save
attr global updateInBackground 0
attr global verbose 2
#########################################################################
## Geo-Location: Aehrengasse 6, 3424 Wolfpassing
#########################################################################

define telnetPort telnet 7072 global
attr telnetPort room System

define WEB FHEMWEB 8083 global
attr WEB JavaScripts codemirror/fhem_codemirror.js
attr WEB editConfig 1
attr WEB icon it_i-net
attr WEB menuEntries Update,cmd=update,UpdateCheck,cmd=update+check,Restart,cmd=shutdown+restart
attr WEB plotWeekStartDay 1
attr WEB room System
attr WEB roomIcons Aussen:status_away_1@yellow Homekit:audio_audio Log:edit_paste System:it_network Security:secur_locked Save.config:message_attention Everything:it_i-net Commandref:system_fhem Remote.doc:message_mail Edit.files:edit_copy Select.style:edit_open Event.monitor:edit_settings System:system_fhem System_Notify:icoMail Update:system_fhem_update@red Restart:system_fhem_reboot@red
attr WEB stylesheetPrefix dark
attr WEB title FHEM-Goesing-Docker

# Fake FileLog entry, to access the fhem log from FHEMWEB
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
attr Logfile icon edit_paste
attr Logfile room Log

define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y.log
attr autocreate room System

define eventTypes eventTypes ./log/eventTypes.txt
attr eventTypes room System

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create
attr initialUsbCheck room System
# DBLogging
define DBLogging DbLog /opt/fhem/contrib/dblog/db.conf .*:.*
attr DBLogging icon time_note
attr DBLogging room Log
define DBLogging_Reopen at +*00:15:00 set DBLogging reopen
attr DBLogging_Reopen room Log
#########################################################################
## Daemmerung, Twilight
#########################################################################
define Daemmerung Twilight 48.3141739 16.1782933 544523
attr Daemmerung event-on-update-reading sr,ss
attr Daemmerung icon weather_sunrise
attr Daemmerung room System
#########################################################################
## Unwetterzentrale
#########################################################################
define Unwetterzentrale UWZ AT 00473 3600
attr Unwetterzentrale download 1
attr Unwetterzentrale group Umwelt
attr Unwetterzentrale humanreadable 1
attr Unwetterzentrale icon weather_storm
attr Unwetterzentrale maps niederoesterreich
attr Unwetterzentrale room Aussen
#########################################################################
## Unwetterzentrale-Details
#########################################################################
define UnwetterDetails weblink htmlCode {UWZAsHtml("Unwetterzentrale")}
attr UnwetterDetails group Umwelt
attr UnwetterDetails room Aussen

define UnwetterKarteLand weblink htmlCode {UWZAsHtmlKarteLand("Unwetterzentrale","niederoesterreich")}
attr UnwetterKarteLand room Aussen

define UnwetterKarteMovie weblink htmlCode {UWZAsHtmlMovie("Unwetterzentrale","niederschlag-wolken-at")}
attr UnwetterKarteMovie room Aussen

########################################################################
## readngsGroup:
## Daemmerung:<%hourglass>,<Dauer>,duration Daemmerung:<%it_i-net>,<Distanz>,distance Daemmerung:<%car>,<ETA>,eta
##
## Daemmerung                --> Device
## <%weather_cloudy_light>   --> Icon
## <Sonnenuntergang:>        --> Textinhalt "Sonnenuntergang:"
## sr                        --> Readingname
## <br>                      --> Zeilenumbruch
##
#########################################################################
define rg_Daemmerung readingsGroup Daemmerung:<%weather_sunrise>,<Sonnenaufgang:>,sr Daemmerung:<%weather_sunset>,<Sonnenuntergang:>,ss
attr rg_Daemmerung alias Dämmerung:
attr rg_Daemmerung group Umwelt
attr rg_Daemmerung room Aussen
attr rg_Daemmerung valueFormat {"azimuth" => '%d °'}
attr rg_Daemmerung valueStyle style="color:yellow;;text-align:right"

#########################################################################
## Wetter: Wolfpassing
#########################################################################
define Wolfpassing_Wetter Weather 544456 900 de
attr Wolfpassing_Wetter event-on-update-reading condition,temperature,humidity,pressure,pressure_trend_txt,wind_condition,wind_direction,visibility
attr Wolfpassing_Wetter icon weather_cloudy_light
attr Wolfpassing_Wetter room System

#########################################################################
## readngsGroup:
## Wolfpassing_Wetter:<%hourglass>,<Dauer>,duration 01_Home2Office:<%it_i-net>,<Distanz>,distance 01_Home2Office:<%car>,<ETA>,eta
##
## Wolfpassing_Wetter        --> Device
## <%weather_cloudy_light>   --> Icon
## <Ort: >                   --> Textinhalt "Ort: "
## temperature               --> Readingname
## <br>                      --> Zeilenumbruch
##
## attr rg_Car_Office sortby 1 --> Anzeige beginnt mit rg_Car_Office
#########################################################################
define rg_Wolfpassing_Wetter readingsGroup Wolfpassing_Wetter:<%it_i-net>,<Ort:>,city\
Wolfpassing_Wetter:<%refresh>,<aktualisiert:>,<{ReadingsTimestamp("Wolfpassing_Wetter","city","")}>\
Wolfpassing_Wetter:<%weather_cloudy_light>,<Zustand:>,condition\
Wolfpassing_Wetter:<%temp_temperature>,<Temperatur:>,temperature Wolfpassing_Wetter:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity\
Wolfpassing_Wetter:<%weather_barometric_pressure>,<Luftdruck:>,pressure Wolfpassing_Wetter:<%weather_barometric_pressure>,<Trend:>,pressure_trend_txt\
Wolfpassing_Wetter:<%weather_wind_speed>,<Wind:>,wind_condition Wolfpassing_Wetter:<%weather_directions>,<Windrichtung:>,wind_direction\
Wolfpassing_Wetter:<%weather_cloudy_light>,<Sicht:>,visibility
attr rg_Wolfpassing_Wetter alias Wetter:
attr rg_Wolfpassing_Wetter group Umwelt
attr rg_Wolfpassing_Wetter mapping {ReadingsTimestamp("Wolfpassing_Wetter","city","")} Wolfpassing_Wetter:<%weather_cloudy_light>,<Zustand:>,condition Wolfpassing_Wetter:<%temp_temperature>,<Temperatur:>,temperature Wolfpassing_Wetter:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity Wolfpassing_Wetter:<%weather_barometric_pressure>,<Luftdruck:>,pressure Wolfpassing_Wetter:<%weather_barometric_pressure>,<Trend:>,pressure_trend_txt Wolfpassing_Wetter:<%weather_wind_speed>,<Wind:>,wind_condition Wolfpassing_Wetter:<%weather_wind>,<Windrichtung:>,wind_direction Wolfpassing_Wetter:<%weather_cloudy_light>,<Sicht:>,visibility
attr rg_Wolfpassing_Wetter room Aussen
attr rg_Wolfpassing_Wetter valueFormat {"temperature" => '%.1f °C', "humidity" => '%d %', "pressure" => '%d hPa', "wind_direction" => '%d °', "visibility" => '%d km' }
attr rg_Wolfpassing_Wetter valueStyle style="color:yellow;;text-align:right"

#########################################################################
## Wetter: Weblink Wolfpassing
#########################################################################
define weblink_Wolfpassing_Wetter weblink htmlCode { "Wolfpassing: <br>".WeatherAsHtml("Wolfpassing_Wetter",7)}
attr weblink_Wolfpassing_Wetter room Aussen

############################################
## TestSwitch
############################################
define testSwitch dummy
attr testSwitch genericDeviceType switch
attr testSwitch room Homekit
attr testSwitch setList on off
attr testSwitch webCmd on:off

############################################
## GoogleAuth
############################################
define GoogleAuth GoogleAuth
attr GoogleAuth icon secur_locked
attr GoogleAuth room Security

#########################################################################
## Netatmo Init
## define Wetter netatmo ACCOUNT <Email> <Passwort> <Client_ID> <Client_Secret>
#########################################################################
define netatmo netatmo ACCOUNT crypt:5a474d5a4b5344070103105926020f570a5c4d51590c crypt:64445c6a5501091012 5710ca07ec135e8e335a42ae vukT6eBZNvXDGRfBusld98LR3qeVRxlva
attr netatmo icon weather_cloudy_light
attr netatmo room System
attr netatmo verbose 3

#########################################################################
## Netatmo-Basisstation
## Indoor  70:ee:50:17:d6:d0
#########################################################################
define Netatmo_Innensensor netatmo 70:ee:50:17:d6:d0
attr Netatmo_Innensensor IODev netatmo
attr Netatmo_Innensensor alias Innensensor
attr Netatmo_Innensensor event-on-update-reading humidity,temperature
attr Netatmo_Innensensor icon temp_inside
attr Netatmo_Innensensor room System
attr Netatmo_Innensensor stateFormat T: temperature H: humidity


#########################################################################
## Netatmo-Basisstation: Logfile
#########################################################################
define FileLog_Netatmo_Innensensor FileLog ./opt/fhem/log/Netatmo_Innensensor-%Y-%m.log Netatmo_Innensensor
attr FileLog_Netatmo_Innensensor room Logging


#########################################################################
## readngsGroup:
## Netatmo_Innensensor:<%temp_temperature>,<Temperature>,temperature <%weather_humidity>,<Luftfeuchtigkeit:>,humidity
##
## Netatmo_Innensensor       --> Device
## <%temp_temperature>       --> Icon
## temperature               --> Readingname
## <br>                      --> Zeilenumbruch
##
#########################################################################
define rg_Netatmo_Innenmodul readingsGroup Netatmo_Innensensor:<%temp_temperature>,<Temperatur:>,temperature\
Netatmo_Innensensor:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity\
Netatmo_Innensensor:<%weather_barometric_pressure>,<Luftdruck:>,pressure\
Netatmo_Innensensor:<%weather_barometric_pressure>,<Trend:>,pressure_trend\
Netatmo_Innensensor:<%temp_temperature>,<CO2:>,co2\
Netatmo_Innensensor:<%audio_volume_high>,<Lärm:>,noise
attr rg_Netatmo_Innenmodul alias Wohnzimmer:
attr rg_Netatmo_Innenmodul group Temperature_Humidity
attr rg_Netatmo_Innenmodul room Wohnzimmer
attr rg_Netatmo_Innenmodul valueFormat {"temperature" => '%.1f °C', "humidity" => '%d %', "pressure" => '%.1f mbar', "co2" => '%d ppm', "noise" => '%d dB' }
attr rg_Netatmo_Innenmodul valueStyle style="color:yellow;;text-align:right"


#########################################################################
## Netatmo-Aussenmodul
## Outdoor MODULE 02:00:00:17:e8:fa
#########################################################################
define Netatmo_Aussensensor netatmo MODULE 70:ee:50:17:d6:d0 02:00:00:17:e8:fa
attr Netatmo_Aussensensor IODev netatmo
attr Netatmo_Aussensensor alias Aussensensor
attr Netatmo_Aussensensor event-on-change-reading battery,battery_percent,humidity,temperature,temp_trend
attr Netatmo_Aussensensor icon temperature_humidity
attr Netatmo_Aussensensor room System
attr Netatmo_Aussensensor stateFormat T: temperature H: humidity
attr Netatmo_Aussensensor verbose 3


#########################################################################
## readngsGroup:
## Netatmo_Aussensensor:<%temp_temperature>,<Temperature>,temperature <%weather_humidity>,<Luftfeuchtigkeit:>,humidity
##
## Netatmo_Aussensensor      --> Device
## <%temp_temperature>       --> Icon
## temperature               --> Readingname
## <br>                      --> Zeilenumbruch
##
#########################################################################
define rg_Netatmo_Aussenmodul readingsGroup Netatmo_Aussensensor:<%temp_temperature>,<Temperatur:>,temperature\
Netatmo_Aussensensor:<%temp_temperature>,<Trend:>,temp_trend\
Netatmo_Aussensensor:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity
attr rg_Netatmo_Aussenmodul alias Aussensensor:
attr rg_Netatmo_Aussenmodul group Umwelt
attr rg_Netatmo_Aussenmodul room Aussen
attr rg_Netatmo_Aussenmodul valueFormat {"temperature" => '%.1f °C', "humidity" => '%d %' }
attr rg_Netatmo_Aussenmodul valueStyle style="color:yellow;;text-align:right"

define rg_Netatmo_Aussenmodul_Battery readingsGroup Netatmo_Aussensensor:<%measure_battery_50>,<Status:>,battery\
Netatmo_Aussensensor:<%measure_battery_50>,<Prozent:>,battery_percent
attr rg_Netatmo_Aussenmodul_Battery alias Netatmo_Aussenmodul:
attr rg_Netatmo_Aussenmodul_Battery group Battery
attr rg_Netatmo_Aussenmodul_Battery room Batteriestatus
attr rg_Netatmo_Aussenmodul_Battery valueFormat {"battery_percent" => '%d %' }
attr rg_Netatmo_Aussenmodul_Battery valueStyle style="color:yellow;;text-align:right"

define SVG_FileLog_Netatmo_Innensensor_1 SVG FileLog_Netatmo_Innensensor:SVG_FileLog_Netatmo_Innensensor_1:CURRENT
attr SVG_FileLog_Netatmo_Innensensor_1 room Wohnzimmer
define SVG_FileLog_Temp_Feuchte_DG_1 SVG FileLog_Temp_Feuchte_DG:SVG_FileLog_Temp_Feuchte_DG_1:CURRENT
attr SVG_FileLog_Temp_Feuchte_DG_1 room DG

