attr global userattr DbLogExclude DbLogInclude cmdIcon devStateIcon devStateStyle genericDeviceType:security,ignore,switch,outlet,light,blind,thermometer,thermostat,contact,garage,window,lock homebridgeMapping:textField-long icon sortby webCmd widgetOverride
attr global autoload_undefined_devices 1
attr global icon it_network
attr global latitude 48.314129
attr global logfile -
attr global longitude 16.180329
attr global modpath .
attr global motd none
attr global nofork 1
attr global perlSyntaxCheck 1
attr global room System
attr global sendStatistics onUpdate
attr global logfile /opt/fhem/log/fhem-%Y-%m.log
attr global statefile /opt/fhem/log/fhem.save
attr global updateInBackground 0
attr global verbose 2
#########################################################################
## Geo-Location: Aehrengasse 6, 3424 Wolfpassing
#########################################################################

include /opt/fhem/mycfg/00_config.cfg


define telnetPort telnet 7072 global
attr telnetPort room System

define WEB FHEMWEB 8083 global
attr WEB JavaScripts codemirror/fhem_codemirror.js
attr WEB alias WEB (8083)
attr WEB codemirrorParam { "lineWrapping": true, "height": "auto" }
attr WEB confirmDelete 0
attr WEB confirmJSError 0
attr WEB editConfig 1
attr WEB icon it_i-net
attr WEB menuEntries Update,cmd=update,UpdateCheck,cmd=update+check,Restart,cmd=shutdown+restart
attr WEB plotWeekStartDay 1
attr WEB room System
attr WEB roomIcons Aussen:status_away_1@yellow Fahrtziele:it_i-net Homekit:audio_audio Log:edit_paste Keller:control_building_kg@yellow System:it_network Security:secur_locked Save.config:message_attention Everything:it_i-net Commandref:system_fhem Remote.doc:message_mail Edit.files:edit_copy Select.style:edit_open Event.monitor:edit_settings System:system_fhem System_Notify:icoMail Update:system_fhem_update@red UpdateCheck:system_fhem_reboot@red Restart:system_fhem_reboot@red
attr WEB stylesheetPrefix dark
attr WEB title FHEM-Goesing-Docker

# Fake FileLog entry, to access the fhem log from FHEMWEB
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
attr Logfile icon edit_paste
attr Logfile room Log

define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y.log
attr autocreate room System

define eventTypes eventTypes ./log/eventTypes.txt
attr eventTypes room System

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create
attr initialUsbCheck room System
# DBLogging
define DBLogging DbLog /opt/fhem/contrib/dblog/db.conf .*:.*
attr DBLogging icon time_note
attr DBLogging room Log
define DBLogging_Reopen at +*00:15:00 set DBLogging reopen
attr DBLogging_Reopen room Log
#########################################################################
## Daemmerung, Twilight
#########################################################################
define Daemmerung Twilight 48.3141739 16.1782933 544523
attr Daemmerung event-on-update-reading sr,ss
attr Daemmerung icon weather_sunrise
attr Daemmerung room System
#########################################################################
## Unwetterzentrale
#########################################################################
define Unwetterzentrale UWZ AT 00473 3600
attr Unwetterzentrale download 1
attr Unwetterzentrale group Umwelt
attr Unwetterzentrale humanreadable 1
attr Unwetterzentrale icon weather_storm
attr Unwetterzentrale maps niederoesterreich
attr Unwetterzentrale room Aussen
#########################################################################
## Unwetterzentrale-Details
#########################################################################
define UnwetterDetails weblink htmlCode {UWZAsHtml("Unwetterzentrale")}
attr UnwetterDetails group Umwelt
attr UnwetterDetails room Aussen

define UnwetterKarteLand weblink htmlCode {UWZAsHtmlKarteLand("Unwetterzentrale","niederoesterreich")}
attr UnwetterKarteLand room Aussen

define UnwetterKarteMovie weblink htmlCode {UWZAsHtmlMovie("Unwetterzentrale","niederschlag-wolken-at")}
attr UnwetterKarteMovie room Aussen

########################################################################
## readngsGroup:
## Daemmerung:<%hourglass>,<Dauer>,duration Daemmerung:<%it_i-net>,<Distanz>,distance Daemmerung:<%car>,<ETA>,eta
##
## Daemmerung                --> Device
## <%weather_cloudy_light>   --> Icon
## <Sonnenuntergang:>        --> Textinhalt "Sonnenuntergang:"
## sr                        --> Readingname
## <br>                      --> Zeilenumbruch
##
#########################################################################
define rg_Daemmerung readingsGroup Daemmerung:<%weather_sunrise>,<Sonnenaufgang:>,sr Daemmerung:<%weather_sunset>,<Sonnenuntergang:>,ss
attr rg_Daemmerung alias Dämmerung:
attr rg_Daemmerung group Umwelt
attr rg_Daemmerung room Aussen
attr rg_Daemmerung valueFormat {"azimuth" => '%d °'}
attr rg_Daemmerung valueStyle style="color:yellow;;text-align:right"

#########################################################################
## Wetter: Wolfpassing
#########################################################################
define Wolfpassing_Wetter Weather 544456 900 de
attr Wolfpassing_Wetter event-on-update-reading condition,temperature,humidity,pressure,pressure_trend_txt,wind_condition,wind_direction,visibility
attr Wolfpassing_Wetter icon weather_cloudy_light
attr Wolfpassing_Wetter room System

#########################################################################
## readngsGroup:
## Wolfpassing_Wetter:<%hourglass>,<Dauer>,duration 01_Home2Office:<%it_i-net>,<Distanz>,distance 01_Home2Office:<%car>,<ETA>,eta
##
## Wolfpassing_Wetter        --> Device
## <%weather_cloudy_light>   --> Icon
## <Ort: >                   --> Textinhalt "Ort: "
## temperature               --> Readingname
## <br>                      --> Zeilenumbruch
##
## attr rg_Car_Office sortby 1 --> Anzeige beginnt mit rg_Car_Office
#########################################################################
define rg_Wolfpassing_Wetter readingsGroup Wolfpassing_Wetter:<%it_i-net>,<Ort:>,city\
Wolfpassing_Wetter:<%refresh>,<aktualisiert:>,<{ReadingsTimestamp("Wolfpassing_Wetter","city","")}>\
Wolfpassing_Wetter:<%weather_cloudy_light>,<Zustand:>,condition\
Wolfpassing_Wetter:<%temp_temperature>,<Temperatur:>,temperature Wolfpassing_Wetter:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity\
Wolfpassing_Wetter:<%weather_barometric_pressure>,<Luftdruck:>,pressure Wolfpassing_Wetter:<%weather_barometric_pressure>,<Trend:>,pressure_trend_txt\
Wolfpassing_Wetter:<%weather_wind_speed>,<Wind:>,wind_condition Wolfpassing_Wetter:<%weather_directions>,<Windrichtung:>,wind_direction\
Wolfpassing_Wetter:<%weather_cloudy_light>,<Sicht:>,visibility
attr rg_Wolfpassing_Wetter alias Wetter:
attr rg_Wolfpassing_Wetter group Umwelt
attr rg_Wolfpassing_Wetter mapping {ReadingsTimestamp("Wolfpassing_Wetter","city","")} Wolfpassing_Wetter:<%weather_cloudy_light>,<Zustand:>,condition Wolfpassing_Wetter:<%temp_temperature>,<Temperatur:>,temperature Wolfpassing_Wetter:<%weather_humidity>,<Luftfeuchtigkeit:>,humidity Wolfpassing_Wetter:<%weather_barometric_pressure>,<Luftdruck:>,pressure Wolfpassing_Wetter:<%weather_barometric_pressure>,<Trend:>,pressure_trend_txt Wolfpassing_Wetter:<%weather_wind_speed>,<Wind:>,wind_condition Wolfpassing_Wetter:<%weather_wind>,<Windrichtung:>,wind_direction Wolfpassing_Wetter:<%weather_cloudy_light>,<Sicht:>,visibility
attr rg_Wolfpassing_Wetter room Aussen
attr rg_Wolfpassing_Wetter valueFormat {"temperature" => '%.1f °C', "humidity" => '%d %', "pressure" => '%d hPa', "wind_direction" => '%d °', "visibility" => '%d km' }
attr rg_Wolfpassing_Wetter valueStyle style="color:yellow;;text-align:right"

#########################################################################
## Wetter: Weblink Wolfpassing
#########################################################################
define weblink_Wolfpassing_Wetter weblink htmlCode { "Wolfpassing: <br>".WeatherAsHtml("Wolfpassing_Wetter",7)}
attr weblink_Wolfpassing_Wetter room Aussen

############################################
## TestSwitch
############################################
define testSwitch dummy
attr testSwitch genericDeviceType switch
attr testSwitch room Homekit
attr testSwitch setList on off
attr testSwitch webCmd on:off

define sms_btn dummy
attr sms_btn alias SMS
attr sms_btn setList state:Laulau,Werner_priv,Werner_office
attr sms_btn readingList state
attr sms_btn webCmd state
attr sms_btn devStateIcon Laulau:message_mail@green Werner_office:message_mail@yellow Werner_priv:message_mail@yellow
attr sms_btn room Homekit

############################################
## DOIF 
############################################
define dif_sms_btn DOIF ([sms_btn:state] eq "Laulau") (set testSwitch on) {Log 2,"Laulau --> FHEM-Server SMS sent"}\
DOELSEIF ([sms_btn:state] eq "Werner_office") (set testSwitch on)\
DOELSEIF ([sms_btn:state] eq "Werner_priv") (set testSwitch on)
attr dif_sms_btn room Homekit

############################################
## GoogleAuth
############################################
define GoogleAuth GoogleAuth
attr GoogleAuth icon secur_locked
attr GoogleAuth room Security

#########################################################################
## Synology: MIB of interests
## disk status: 1.3.6.1.4.1.6574.2.1.1.5
## Normal(1): The hard disk functions normally. Initialized(2): The hard disk has system partition but no data. NotInitialized(3):	The hard disk does not have system in system partition. SystemPartitionFailed(4): The system partitions on the hard disks are damaged. Crashed(5): The hard disk has damaged. 
## disk temperature: 1.3.6.1.4.1.6574.2.1.1.6
## system status: 1.3.6.1.4.1.6574.1.1.0
## Normal(1): System functionals normally. Failed(2): Volume has crashed. 
## system temperature: 1.3.6.1.4.1.6574.1.2.0
## system power status: 1.3.6.1.4.1.6574.1.3.0
## Normal(1): All power supplies functional normally. Failed(2): One of power supply has failed.
## dsm name: 1.3.6.1.4.1.6574.1.5.1.0
## The Model name of this NAS
## dsm version: 1.3.6.1.4.1.6574.1.5.3.0
## The version of this NAS
## dsm upgrade available: 1.3.6.1.4.1.6574.1.5.4.0
## Available(1): There is version ready for download. Unavailable(2): The DSM is latest version. Connecting(3): Checking for the latest DSM. Disconnected(4): Failed to connect to server. Others(5): If DSM is upgrading or downloading, the status will show others.
#########################################################################
define Synology SYSSTAT 60 600 192.168.1.100
attr Synology event-on-change-reading .*
attr Synology mibs .1.3.6.1.4.1.6574.2.1.1.6.0:temp_hdd1 ,.1.3.6.1.4.1.6574.2.1.1.6.1:temp_hdd2 ,.1.3.6.1.4.1.6574.2.1.1.6.2:temp_hdd3\
,.1.3.6.1.4.1.6574.2.1.1.6.3:temp_hdd4 ,.1.3.6.1.4.1.6574.2.1.1.6.4:temp_hdd5 ,.1.3.6.1.4.1.6574.2.1.1.5.0:state_hdd1\
,.1.3.6.1.4.1.6574.2.1.1.5.1:state_hdd2 ,.1.3.6.1.4.1.6574.2.1.1.5.2:state_hdd3 ,.1.3.6.1.4.1.6574.2.1.1.5.3:state_hdd4\
,.1.3.6.1.4.1.6574.2.1.1.5.4:state_hdd5 ,.1.3.6.1.4.1.6574.1.5.1.0:dsm_name ,.1.3.6.1.4.1.6574.1.5.3.0:dsm_ver\
,.1.3.6.1.4.1.6574.1.5.4.0:dsm_upgrade
attr Synology room System
attr Synology snmp 1
attr Synology snmpCommunity synology
attr Synology snmpVersion 2
attr Synology stateFormat temperature °C
attr Synology synologytemperature 1
attr Synology uptime 1


#########################################################################
## readingsGroup:
## rg_Synology readingsGroup Synology:<%humidity>,<Temperatur:>,temp_hdd1
##
## Synology                        --> Device
## <%humidity>                     --> Icon
## <Temperatur:>                   --> Textinhalt "Temperatur:"
## temp_hdd1                       --> Readingname
## nameStyle style="color:yellow"  --> Textfarbe "gelb"
## valueStyle style="color:yellow" --> Readingwerte "gelb"
##
#########################################################################
define rg_Synology readingsGroup Synology:<%rc_INFO2>,<Synology:>,dsm_name,dsm_ver\
Synology:<%rc_INFO2>,<Upgrade_available_(1=yes):>,dsm_upgrade\
Synology:<%temp_temperature>,<Temperatur:>,temperature Synology:<%temp_temperature>,<Disk_1_Temperatur:>,temp_hdd1\
Synology:<%temp_temperature>,<Disk_2_Temperatur:>,temp_hdd2 Synology:<%temp_temperature>,<Disk_3_Temperatur:>,temp_hdd3\
Synology:<%temp_temperature>,<Disk_4_Temperatur:>,temp_hdd4 Synology:<%temp_temperature>,<Disk_5_Temperatur:>,temp_hdd5\
Synology:<%rc_INFO2>,<Disk_1_Status_(1=ok):>,state_hdd1 Synology:<%rc_INFO2>,<Disk_2_Status_(1=ok):>,state_hdd2\
Synology:<%rc_INFO2>,<Disk_3_Status_(1=ok):>,state_hdd3 Synology:<%rc_INFO2>,<Disk_4_Status_(1=ok):>,state_hdd4\
Synology:<%rc_INFO2>,<Disk_5_Status_(1=ok):>,state_hdd5
attr rg_Synology alias Synology:
attr rg_Synology icon humidity
attr rg_Synology room Keller
attr rg_Synology valueFormat {"temperature" => '%d °C', "temp_hdd1" => '%d °C', "temp_hdd2" => '%d °C', "temp_hdd3" => '%d °C', "temp_hdd4" => '%d °C', "temp_hdd5" => '%d °C'}
attr rg_Synology valueStyle style="color:yellow;;text-align:right"


#########################################################################
## 04_traffic.cfg
## Stand.........: 20.10.2016
## Zweck.........: Dieses Modul erfasst Fahrzeiten in aktueller Verkehrslage
##                 mittels Google Maps Directions API. 
## Besonderheiten:
##
#########################################################################


define 01_Home2Office TRAFFIC AIzaSyCYoGYmj-oxYS6TWXznN7vHGX6WcP0_UAA 600
attr 01_Home2Office userattr end_address icon outputReadings start_address verbose
attr 01_Home2Office end_address Technologiestrasse 5, 1120
attr 01_Home2Office icon car
attr 01_Home2Office outputReadings text
attr 01_Home2Office room System
attr 01_Home2Office start_address Aehrengasse 6, 3424
attr 01_Home2Office verbose 1

define 02_Home2Wien TRAFFIC AIzaSyCYoGYmj-oxYS6TWXznN7vHGX6WcP0_UAA 600
attr 02_Home2Wien userattr end_address icon outputReadings start_address verbose
attr 02_Home2Wien end_address Franz-Josefs-Kai 10, 1010
attr 02_Home2Wien icon car
attr 02_Home2Wien outputReadings text
attr 02_Home2Wien room System
attr 02_Home2Wien start_address Aehrengasse 6, 3424
attr 02_Home2Wien verbose 1

define 03_Home2Tulln TRAFFIC AIzaSyCYoGYmj-oxYS6TWXznN7vHGX6WcP0_UAA 600
attr 03_Home2Tulln userattr end_address icon outputReadings start_address verbose
attr 03_Home2Tulln end_address Minoritenplatz 1, 3430
attr 03_Home2Tulln icon car
attr 03_Home2Tulln outputReadings text
attr 03_Home2Tulln room System
attr 03_Home2Tulln start_address Aehrengasse 6, 3424
attr 03_Home2Tulln verbose 1

define 04_Home2Knittelfeld TRAFFIC AIzaSyCYoGYmj-oxYS6TWXznN7vHGX6WcP0_UAA 600
attr 04_Home2Knittelfeld userattr end_address icon outputReadings start_address verbose
attr 04_Home2Knittelfeld end_address Karl-Morre-Gasse 3, 8720
attr 04_Home2Knittelfeld icon car
attr 04_Home2Knittelfeld outputReadings text
attr 04_Home2Knittelfeld room System
attr 04_Home2Knittelfeld start_address Aehrengasse 6, 3424
attr 04_Home2Knittelfeld verbose 1


#########################################################################
## readngsGroup:
## 01_Home2Office:<%hourglass>,<Dauer>,duration 01_Home2Office:<%it_i-net>,<Distanz>,distance 01_Home2Office:<%car>,<ETA>,eta
##
## 01_Home2Office --> Device
## <%hourglass>   --> Icon
## <Dauer>        --> Textinhalt "Dauer"
## duration       --> Readingname
## <br>           --> Zeilenumbruch
##
## attr rg_Car_Office sortby 1 --> Anzeige beginnt mit rg_Car_Office
#########################################################################
define rg_Car_Office readingsGroup 01_Home2Office:<%hourglass>,<Dauer>,duration 01_Home2Office:<%it_i-net>,<Distanz>,distance 01_Home2Office:<%car>,<ETA>,eta
attr rg_Car_Office alias Home2Office
attr rg_Car_Office group Ziele
attr rg_Car_Office room Fahrtziele
attr rg_Car_Office sortby 1
attr rg_Car_Office valueStyle style="color:yellow;;text-align:right"

define rg_Car_Wien readingsGroup 02_Home2Wien:<%hourglass>,<Dauer>,duration 02_Home2Wien:<%it_i-net>,<Distanz>,distance 02_Home2Wien:<%car>,<ETA>,eta
attr rg_Car_Wien alias Home2Wien
attr rg_Car_Wien group Ziele
attr rg_Car_Wien room Fahrtziele
attr rg_Car_Wien sortby 2
attr rg_Car_Wien valueStyle style="color:yellow;;text-align:right"

define rg_Car_Tulln readingsGroup 03_Home2Tulln:<%hourglass>,<Dauer>,duration 03_Home2Tulln:<%it_i-net>,<Distanz>,distance 03_Home2Tulln:<%car>,<ETA>,eta
attr rg_Car_Tulln alias Home2Tulln
attr rg_Car_Tulln group Ziele
attr rg_Car_Tulln room Fahrtziele
attr rg_Car_Tulln sortby 3
attr rg_Car_Tulln valueStyle style="color:yellow;;text-align:right"

define rg_Car_Knfd readingsGroup 04_Home2Knittelfeld:<%hourglass>,<Dauer>,duration 04_Home2Knittelfeld:<%it_i-net>,<Distanz>,distance 04_Home2Knittelfeld:<%car>,<ETA>,eta
attr rg_Car_Knfd alias Home2Knittelfeld
attr rg_Car_Knfd group Ziele
attr rg_Car_Knfd room Fahrtziele
attr rg_Car_Knfd sortby 4
attr rg_Car_Knfd valueStyle style="color:yellow;;text-align:right"

#########################################################################
# Dreambox DM820 192.168.1.20
#########################################################################
define DM820 ENIGMA2 192.168.1.20
attr DM820 bouquet-radio 1:7:2:0:0:0:0:0:0:0:FROM BOUQUET "userbouquet.favourites.radio" ORDER BY bouquet
attr DM820 bouquet-tv 1:7:1:0:0:0:0:0:0:0:FROM BOUQUET "userbouquet.favourites.tv" ORDER BY bouquet
attr DM820 devStateIcon on:rc_GREEN:off off:rc_YELLOW:on absent:rc_STOP:on
attr DM820 event-on-update-reading channelList
attr DM820 group Dreambox
attr DM820 http-method GET
attr DM820 icon dreambox
attr DM820 model DM820
attr DM820 room Wohnzimmer
attr DM820 webCmd channel:input
## EOF
